h1 {
    font-family: Georgia serif;
    font-size: 4.0625em;
    font-weight: 700;
}

h2 {
    font-size: 3.125em;
    font-weight: 700;
}

h3 {
    font-size: 1.875em;
}

p {
    font-size: 1.25em;
    font-family: Lato;
    font-weight: 500;
}
