$list-item-color: #292929;
$description-color: #484848;
$description-second-color: #424242;
$section-background-primary: #245852;
$color-primary-separator: #D6D6D6;
$color-primary: #FFFFFF;
$color-secondary: #01996D;
$color-primary-invert: #000000;
$color-tetriary: #245852;