$border-bottom-line-color: #D6D6D6;
$button-backgrond: #01996D;
$button-primary-color: #FFFFFF;
$button-secondary-color: #000000;
$list-item-color: #292929;
$description-color: #484848;
$description-second-color: #424242;
$description-tetriary: #FFFFFF;
$title-primary-color: #000000;
$title-secondary-color:#01996D;
$title-tetriary: #FFFFFF;
$section-background-primary: #245852;

