.card {
    padding: 1.4em 3.75em 1.9em 3.75em;
    background: $color-primary;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    bottom: 5.25em;
    text-align: center;

    @media (max-width: 61.9375em) {
        bottom: 0;
    }

    &-img {
        text-align: center;

        img {
            max-width: 3.75em;
            border-radius: 10em;
        }
    }

    &-name {
        font-family: Lato;
        font-size: 0.75em;
        text-transform: capitalize;
        line-height: 1.2em;
        display: block;
    }

    &-subtitle {
        font-size: .9em;
        display: inline-block;
        margin: auto;
        line-height: 1.4em;
        border-bottom: 1px solid $color-primary-invert;
        margin-bottom: .85em;
        font-family: Lato;
        text-transform: capitalize;
        font-weight: 600;
    }

    &-title {
        line-height: 1.5em;
    }

    .list {
        padding: 0;
        margin: 0;
        list-style-position: inside;
        text-align: left;

        &-item {
            text-transform: capitalize;
            font-family: Lato;
            font-size: 0.7em;
            line-height: 1em;
            margin-bottom: 1em;
        }
    }
}