.content-box {
    position: relative;
    margin: 0 3em;

    &::before {
        counter-increment: content-box;
        content: "0"counter(content-box);
        font-size: 9.3em;
        color: $color-secondary;
        position: absolute;
        z-index: 1;
        opacity: 0.2;
        margin: 0;
        font-family: Georgia serif;

    }

    &-overlay-title {
        margin-top: 2.5em;
        font-weight: 700;
        line-height: 2.75em;
        z-index: 2;
        position: relative;

    }

    &-description {
        font-weight: 500;
        margin-bottom: 1.5em;
    }

    img {
        max-width: 100%;
    }



    &:first-child {
        margin-left: 0;

        .content-box-overlay-title {
            padding-left: 3em;
        }

    }

    &:nth-child(2) {
        margin-top: 12.75em;

        &:before {
            left: .5em;

        }

        .content-box-overlay-title {
            padding-left: 4em;
        }
    }

    &:last-child {
        margin-right: 0;

        .content-box-overlay-title {
            padding-left: 3.25em;
        }
    }

    @media(max-width: 61.9375em) {
        text-align: center;
        margin: 0;
        padding-top: .5em;

        padding-left: 0;

        &::before {
            left: 0;
        }

        &:nth-child(2) {
            margin-top: 0;

            &::before {
                left: 0;
            }
        }


        &:first-child,
        &:nth-child(2),
        &:last-child {
            .content-box-overlay-title {
                padding-left: 0;
            }
        }
    }
}