.content-box {
    position: relative;
    margin: 0 3em;

    @media(max-width:768px) {
        margin: 0;
    }

    &-title {
        font-size: 9.3em;
        color: $content-box-title-color-primary;
        position: absolute;
        z-index: 1;
        opacity: 0.2;
        margin: 0;
    }

    &-overlay-title {
        margin-top: 2.5em;
        text-align: center;
        font-weight: $font-weight-700;
        line-height: 2.75em;
        z-index: 2;
        position: relative;

    }

    &-description {
        font-weight: $font-weight-500;
        margin-bottom: 1.5em;
    }

    img {
        max-width: 100%;
    }

    &:first-child {
        margin-left: 0;
    }

    &:nth-child(2) {
        margin-top: 12.75em;
    }

    &:last-child {
        margin-right: 0;
    }
}