.section-heading {
    .heading-subtitle {
        color: $description-second-color;
        font-size: 1.5em;
        font-weight: 600;
        font-family: Lato;
    }

    .heading-title {
        color: $color-secondary;

    }

    .heading-desciption {
        font-size: 400;
        margin-bottom: 2.5em;
        line-height: 1.95em;
    }

    @media (max-width: 61.9375em) {
        text-align: center;

        .section-heading {
            margin: auto;
            display: block;

            .heading-title {

                margin: auto;
            }

            .heading-description {
                max-width: 100%;
                text-align: center;
            }
        }
    }
}