.section-heading {
    .heading-subtitle {
        color: $description-second-color;
        font-size: 1.5em;
        font-weight: 600;
        font-family: Lato;
    }

    .heading-title {
        color: $title-secondary-color;
    }
    .heading-desciption {
        font-size: 400;
    }
}
