.site-footer {
    background-color: $section-background-primary;
    padding: 6em 0em 8.75em 0em;

    &-logo {
        text-transform: capitalize;
        color: $color-primary;
        font-size: 2.5em;
    }

    .row {
        flex-direction: column;
    }

    .navigation {
        display: block;

        .list {
            flex-direction: column;
            margin: 0;
            padding: 0;

            &-item {

                margin: 0;

                a {
                    color: $color-primary;
                    display: block;
                    margin: 0;
                    padding: 1.85em 0;
                }
            }
        }
    }

    @media (max-width: 48em) {
        .site-footer-logo {
            text-align: center;
        }

        .navigation {
            text-align: center;
        }
    }
}